@font-face {
  font-family: 'mifuente';
  src: url('../font/IronFist-KqrD.ttf') format('opentype');
}

.container {
  font-family: 'mifuente';
}


.btn.btn-custom-color {
  background-color: #860909;
  border-color: #860909;
  /* Color del borde */
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn.btn-custom-color:hover {
  color: #01152a;
  /* Color del texto al pasar el ratón */
}

.btn.btn-primary{
  background-color: #01152a;
  border-color: #01152a;
}

/* Seccion tabla */
.btn-agregar {
  background-color: #860909 !important;
  border-color: #860909 !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 550px;
}

.btn.btn-agregar:hover {
  color: black;
  /* Color del texto al pasar el ratón */
}

/* Tablero */
.cuadro-azul {
  background-color: #01152a;
  width: 85%;
  height: 630px;
  border-radius: 10px;
  display: flex;
  /* Utilizamos flexbox para alinear las columnas */
}

.columna {
  font-family: 'mifuente';
  border-right: 3px solid #cccccc1f;
  background-color: #01152a;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.columna h3 {
  padding: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background-color: #860909c9;
  /* Reducimos el margen inferior del título */
  height: 10%;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;

}

.columna-contenido {
  max-height: 500px;
  /* Altura máxima del contenido antes de que aparezca el scroll */
  overflow-y: auto;
  /* Mostrar scroll vertical si el contenido excede la altura máxima */
}

.ficha-motonave {
  background-color: #001d43;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  padding: 60px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
}

.ficha-motonave:hover {
  background-color: #003b88;
}

/* Estilos para el modal */
.modal-content {
  background-color: #001d43 !important;
}

.modal-header {
  background-color: #8d000e;
  border-bottom: none;
}

.modal-title {
  color: #fff;
  font-family: 'mifuente';
}

.modal-body {
  color: #fff;
  padding: 20px;
  font-family: 'mifuente';
}

.modal-footer {
  border-top: none;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-close {
  color: #333;
}

.btn-close:hover {
  color: #000;
}

/* Estilo para el enlace en estado hover */
.dropdown-item:hover {
  color: #fff !important;
  /* Cambiar color de texto al hacer hover */
  background-color: #001025 !important;
  /* Cambiar color de fondo al hacer hover */
}

/* PANEL LATERAL */
.panel-lateral {
  background-color: #06203d;
  position: fixed;
  top: 0;
  right: 0; /* Mantener right */
  width: 0;
  min-width: 0;
  max-width: 32%;
  height: 100vh;
  margin-top: 106px;
  overflow-y: auto;
}

#dragbar {
  cursor: ew-resize;
  width: 8px;
  height: 100%;
  background-color: #cccccc1f;
  position: absolute;
  top: 0;
  left: -4px; /* Colocar en el lado izquierdo */
}

#dragbar:hover {
  background-color: rgb(0, 89, 255) !important;
}

.detalles-motonave {
  margin-left: 20px;
  color: #fff;
  font-family: 'mifuente';
}

.detalles-motonave h4 {
  padding: 20px;
}

/* Estilos para el panel overlay */
.panel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: width 0.5s ease;
}