@font-face {
    font-family: 'mifuente';
    src: url('../font/IronFist-KqrD.ttf') format('opentype');
}

body {
    background-color: #0b1f42;
    font-family: 'mifuente' !important;
}

.contenido-principal {
    /* Ajusta los valores según la altura del nav y el footer */
    padding: 10px;
    width: 100%;
    /* Ancho de página carta en puntos */
    height: 100%;
    /* Altura de página carta en puntos */
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'mifuente';
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #0b1f42;
    /* Agrega scroll vertical cuando el contenido excede la altura */
}

/* Estilos para el contenido principal */
#contenidoPrincipal {
    flex-grow: 1;
    /* Hace que el contenido principal ocupe todo el espacio disponible */
}

.imprimirContenido {
    background-color: #0b1f42;
    background-image: url(../images/LogoOpacity.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1vh;
    padding: 40pt;
    /* Agrega un relleno de 40 puntos en todos los lados */
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #061124;
}

span {
    position: relative;
    display: inline-block;
    padding-bottom: 7px;
}

span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    /* La mitad de 1136px */
    border-right: 780px solid transparent;
    /* La mitad de 1136px */
    border-top: 15px solid rgb(169, 0, 28);
    /* El color y la altura proporcionados */
    z-index: 6;
    /* Mantenemos el z-index de Photoshop */
    background-color: transparent;
    /* Asegura que no haya color de fondo */
}

.datos-navio,
.datos-servicio,
.nominaciones {
    margin-bottom: 10px;
    margin-left: 3vw;

}

/* DATOS NAVIO*/
.datos-navio h3 {
    margin-top: 3vh;
    margin-bottom: 2vh;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.datos-navio h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    /* La mitad de 1136px */
    border-right: 250px solid transparent;
    /* La mitad de 1136px */
    border-top: 10px solid rgb(169, 0, 28);
    /* El color y la altura proporcionados */
    z-index: 6;
    /* Mantenemos el z-index de Photoshop */
    background-color: transparent;
    /* Asegura que no haya color de fondo */
}

.direccion-navio label {
    width: 100%;
}

.direccion-navio input {
    width: 100%;
    padding: 8px;
    background-color: #01152a;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'mifuente';
    font-size: 25px;
}

.direccion-navio select {
    width: 100%;
    padding: 10px;
    background-color: #01152a;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'mifuente';
    font-size: 20px;
}

/* DATOS SERVICIO*/
.datos-servicio h3 {
    margin-top: 8vh;
    margin-bottom: 2vh;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.datos-servicio h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    /* La mitad de 1136px */
    border-right: 350px solid transparent;
    /* La mitad de 1136px */
    border-top: 10px solid rgb(169, 0, 28);
    /* El color y la altura proporcionados */
    z-index: 6;
    /* Mantenemos el z-index de Photoshop */
    background-color: transparent;
    /* Asegura que no haya color de fondo */
}

.direccion-servicio select {
    width: 100%;
    padding: 10px;
    background-color: #01152a;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'mifuente';
    font-size: 20px;
}

.direccion-servicio label {
    width: 100%;
    margin-left: 7px;
}

.direccion-servicio input {
    width: 100%;
    background-color: #01152a;
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'mifuente';
    font-size: 20px;
}

.fila-unoServicio {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 1.5fr 3fr;
    gap: 2vw;
    /* Espacio entre las celdas del grid */
    margin-right: 5vw;
}

.fila-dosServicio {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin-top: 25px;
    margin-right: 20vw;
    gap: 2vw;
    /* Espacio entre las celdas del grid */
}

/* BOTONES */
.botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.botones button.guardar {
    background-color: #e0000083;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    width: 10vw;
    margin-right: 5vw;
}

.fila {
    display: flex;
}

/* NAVIO*/

.datonavioColumna {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin: 3px;
}

.datonavioColumna label {
    color: white;
    margin-right: 1vw;
    width: 9vw;
}

.datonavioColumna input {
    width: 13vw;
    font-family: 'mifuente';
    padding: 8px;
    font-size: 0.85vw;
    /* Ajusta este valor según tus necesidades */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* FIN NAVIO*/


/* SERVICIO*/
.datoservicioColumna {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    margin: 3px;
}

.datoservicioColumna label {
    color: white;
    margin-right: 1vw;
    width: 9vw;
}

.datoservicioColumna input {
    width: 13vw;
    font-family: 'mifuente';
    padding: 8px;
    font-size: 0.85vw;
    /* Ajusta este valor según tus necesidades */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* FIN SERVICIO*/

.nominaciones h3 {
    margin-bottom: 2vh;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.nominaciones h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    /* La mitad de 1136px */
    border-right: 200px solid transparent;
    /* La mitad de 1136px */
    border-top: 10px solid rgb(169, 0, 28);
    /* El color y la altura proporcionados */
    z-index: 6;
    /* Mantenemos el z-index de Photoshop */
    background-color: transparent;
    /* Asegura que no haya color de fondo */
}

/* Estilos para los rectángulos*/
.rectangulo {
    background-color: #000D27;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    position: relative;
    /* Agregado */
}

/* Estilos para el texto dentro de los rectángulos */
.rectangulo p {
    color: white;
    margin: 5px;
}

/* Contenedor para los rectángulos que los alinea horizontalmente */
.contenedor {
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para el icono de conductor nominado */
.icono-conductor-nominado {
    width: 20px;
    height: 20px;
}

/* Estilos para el icono de conductor */
.icono-conductor {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}

/* Estilos para las burbujas de los conductores vinculados */
.conductores-vinculados {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.burbuja-conductor {
    background-color: #e0e0e0;
    color: #333;
    border-radius: 50%;
    padding: 5px;
    margin: 0 2px;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}