@font-face {
    font-family: 'mifuente';
    src: url('../font/IronFist-KqrD.ttf') format('opentype');
}

body {
    font-family: "mifuente";
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.login-wrapper {
    width: 400px;
    min-height: 450px;
    padding: 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    color: white;
    background: rgba(0, 0, 0, 0.58);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.card-title {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 23px;
    margin: 0;
    /* Asegura que no haya margen */
}

.errorlist {
    color: red;
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

.input-group {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    margin-top: 20px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid transparent;
    /* Ajusta según sea necesario */
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    margin-top: 141px;
}

.input-group label {
    position: absolute;
    top: 31px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px;
    color: #ffffff;
}

.submit-button {
    position: relative;
    width: calc(100% - 69px);
    padding: 13px 35px;
    background-color: #8d000e;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 12%;
}

.submit-button:hover {
    filter: brightness(110%);
}

.forgot {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    transition: filter 0.3s;
}

.forgot:hover {
    filter: brightness(150%);
}

.logo-container {
    position: absolute;
    top: -74px;
    left: 137px;
    z-index: 1;
}

.back-button {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.alert {
    position: relative;
    padding: 10px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
}

.alert .close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #8a6d3b;
}

.alert .close:hover {
    color: #66512c;
}