.contenido-principal {
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-left: 7vw;
    margin-right: 7vw;
    font-family: 'mifuente';
}

.cuadro-azul {
    background-color: #01152a;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    margin-right: 5vw;
    position: relative; /* Para establecer la base del posicionamiento */
    width: 100vw;
    height: 65vh;
    padding: 1%;
    margin-bottom: 5vh;
}

.table-header {
    position: sticky;
    top: 0; /* Fija el encabezado en la parte superior */
    z-index: 1; /* Asegura que el encabezado esté por encima del cuerpo */
}

.table-body {
    overflow-y: auto; /* Permite el desplazamiento vertical solo en el cuerpo de la tabla */
    max-height: 55vh; /* Establece la altura máxima del cuerpo de la tabla */
}

.table-wrapper {
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
}

/* Estilo para el fondo desenfocado cuando el modal está activo */
.blur-background {
    backdrop-filter: blur(5px);
    /* Aplica un desenfoque al fondo */
    pointer-events: none;
    /* Permite hacer clic a través del fondo desenfocado */
    transition: filter 0.3s ease;
    /* Agrega una transición suave */
}

/* Estilo del cuerpo de la página cuando el modal está activo */
.modal-active {
    overflow: hidden;
    /* Evita el desplazamiento de la página */
    position: fixed;
    /* Fijar posición en la ventana */
    width: 100%;
    /* Ocupa todo el ancho */
    height: 100%;
    /* Ocupa toda la altura */
}

.modal-dialog.modal-dialog-centered {
    max-width: 600px !important;
    min-width: 400px !important;
}

/* Estilo del modal */
.modal-content {
    background-color: #001d43 !important;
}

.modal-header {
    background-color: #860909c9;
    border-bottom: #860909c9 !important;
}

.modal-title {
    color: #fff;
    font-family: 'mifuente';
}

.modal-body {
    color: #fff;
    margin-left: 40px;
    margin-top: 1% !important;
    margin-right: 40px !important;
    font-family: 'mifuente';
}

.modal-footer {
    border-top: #001d43 !important;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-close {
    color: #333;
}

.btn-close:hover {
    color: #000;
}

.btn.btn-custom-color {
    background-color: #860909c9;
    border-color: #860909c9;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para los campos de entrada */
#modalDetallePersonal input[type="text"],
#modalDetallePersonal select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para la lista de especialidades */
#modalDetallePersonal ul {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los botones */
#modalDetallePersonal button {
    background-color: #860909c9; /* Color de fondo verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#modalDetallePersonal button:hover {
    background-color: #860909c9; /* Cambio de color de fondo al pasar el cursor */
}