@font-face {
    font-family: 'mifuente';
    src: url('../font/IronFist-KqrD.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.video-background {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'mifuente';
}

.login-wrapper {
    width: 430px;
    height: 520px;
    background: rgba(0, 0, 0, 0.58);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 30px;
    padding: 100px 50px;
    position: relative;
    /* Agregado para contener los elementos posicionados absolutamente */
}

.card-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}

::placeholder {
    color: #ffffff00;
    /* Color del placeholder */
}

.input-group {
    position: relative;
    /* Agregado para alinear correctamente */
    width: 100%;
    margin-bottom: 40px;
}

.input-group input {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.13);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    /* Ajuste de padding */
    transition: background-color 0.3s ease, padding-top 0.3s ease;
    /* Transición para la animación */
    outline: none;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: top 0.3s ease, font-size 0.3s ease;
    /* Transiciones para animar el label */
    color: rgba(255, 255, 255, 0.7);
    /* Color de label normal */
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
    background-color: rgba(255, 255, 255, 0.2);
    /* Cambio de color de fondo */
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: -8px;
    font-size: 12px;
    /* Tamaño de fuente más pequeño cuando el label está arriba */
    color: rgba(255, 255, 255, 0.9);
    /* Color de label cuando está arriba */
}

.forgot {
    padding: 10px;
}

.forgot a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.forgot a:hover {
    text-decoration: underline;
}

.login-wrapper .submit-button {
    width: 100%;
    height: 45px;
    background: #8d000e;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.logo-container img {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -75px;
    right: 128px;
}

.back-button {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}

.alert {
    position: relative;
    padding: 15px 15px;
    border-radius: 15px;
    color: #ffffff;
    background-color: rgb(219 199 0 / 80%);
    backdrop-filter: blur(5px);
    top: -21px;
    
}

.close {
    background: none;
    border: none;
}

.close img {
    width: 12px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: 12px;
}