@font-face {
    font-family: 'mifuente';
    src: url('../font/IronFist-KqrD.ttf') format('opentype');
}

span {
    position: relative;
    display: inline-block;
    padding-bottom: 7px;
}

span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 375px solid transparent;
    border-top: 15px solid rgb(169, 0, 28);
    z-index: 6;
    background-color: transparent;
}


.contenido-principal {
    height: calc(100vh - 12vh - 8vh);
    margin-left: 5vw;
    font-family: 'mifuente';
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Estilos para el contenido principal */
#contenidoPrincipal {
    flex-grow: 1;
}

.datos-navio,
.datos-servicio {
    margin-bottom: 10px;
    margin-left: 3vw;
}

/* DATOS NAVIO*/
.datos-navio h3 {
    margin-top: 3vh;
    margin-bottom: 2vh;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}


.datos-navio h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 250px solid transparent;
    border-top: 10px solid rgb(169, 0, 28);
    z-index: 6;
    background-color: transparent;
}


.direccion-navio label {
    width: 100%;
    margin-left: 7px;
}

.direccion-navio input {
    width: 100%;
    padding: 8px;
    background-color: #01152a;
    border: none;
    border-radius: 10px;
    color: white;
}

.direccion-navio select {
    width: 100%;
    padding: 10px;
    background-color: #01152a;
    border: none;
    border-radius: 10px;
    color: white;
}

.fila-unoNavio {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1.2fr 2fr 2fr;
    gap: 2vw;
    margin-right: 5vw;
}

.fila-dosNavio {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin-top: 25px;
    margin-right: 20vw;
    gap: 2vw;
}

/* DATOS SERVICIO*/
.datos-servicio h3 {
    margin-top: 8vh;
    margin-bottom: 2vh;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.datos-servicio h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 350px solid transparent;
    border-top: 10px solid rgb(169, 0, 28);
    z-index: 6;
    background-color: transparent;
}


.direccion-servicio select {
    width: 100%;
    padding: 10px;
    background-color: #01152a;
    border: none;
    border-radius: 10px;
    color: white;
}

.direccion-servicio label {
    width: 100%;
    margin-left: 7px;
}

.direccion-servicio input {
    width: 100%;
    background-color: #01152a;
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: white;
}

.fila-unoServicio {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 1.5fr 3fr;
    gap: 2vw;
    margin-right: 5vw;
}

.fila-dosServicio {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    margin-top: 25px;
    margin-right: 20vw;
    gap: 2vw;
}

/* BOTONES */
.botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.botones button.guardar {
    background-color: #e0000083;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    width: 10vw;
    margin-right: 5vw;
}

/* Estilos para la flecha */
.arrow-down {
    margin: 10px auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #fff;
    position: relative;
    animation: arrowBounce 2s infinite;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}

/* Animación de rebote de la flecha */
@keyframes arrowBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}


.nominacionh3 {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.nominacionh3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 250px solid transparent;
    border-top: 10px solid rgb(169, 0, 28);
    z-index: 6;
    background-color: transparent;
}

/* Estilos base del cuadro azul */
.cuadro-azul {
    background-color: #01152a;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    margin-right: 7vw;
    margin-top: 1vh;
}

.columna {
    font-family: 'mifuente';
    background-color: #01152a;
    width: 100vw;
    height: 60vh;
    margin-bottom: 20px;
    border-radius: 20px;
}

.columna h3 {
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}

.lineaGris {
    border-right: 3px solid #cccccc1f;
    height: 47vh;
}

.sinLineaGris {
    height: 47vh;
}

.columna-contenido {
    max-height: 48vh;
    margin-top: 2vh;
    overflow-y: auto;
    text-align: center;
}

.modal-content {
    background-color: #001d43 !important;
}

.modal-header {
    background-color: #860909c9;
    border-bottom: #860909c9 !important;
}

.modal-title {
    color: #fff;
    font-family: 'mifuente';
}

.modal-body {
    color: #fff !important;
    margin-top: 1% !important;
    margin-right: 5% !important;
    font-family: 'mifuente';
}

.modal-footer {
    border-top: #001d43 !important;
}

.personal-info {
    padding: 2px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    margin-left: 15px;
}

.personal-info strong {
    font-weight: bold;
}

.vehiculo-info {
    padding: 2px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    margin-left: 15px;
}

.vehiculo-info strong {
    font-weight: bold;
}

.quimico-info {
    padding: 2px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    margin-left: 15px;
}

.quimico-info strong {
    font-weight: bold;
}

.vario-info {
    padding: 2px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    margin-left: 15px;
}

.vario-info strong {
    font-weight: bold;
}

.hidden {
    display: none;
}

.eliminar-ficha {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 90%;
}

.eliminar-ficha img {
    width: 20px;
    height: 20px;
}

.icono-conductor-nominado {
    width: 20px;
    height: 20px;
}

.conductores-vinculados {
    display: flex;
    margin-left: 80%;
}

.burbuja-conductor {
    background-color: #e0e0e0;
    color: #333;
    border-radius: 50%;
    padding: 5px;
    margin: 0 2px;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conductoresVinculadosList .especialidad {
    display: inline-block;
    background-color: #01152a;
    border-radius: 10px;
    margin: 4px;
    padding: 2px 15px;
}

#conductoresVinculadosList .eliminar-especialidad {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    margin-left: 1vw;
}

#conductoresVinculadosList .eliminar-especialidad:hover {
    color: red;
}