{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle Ficha Servicio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesDetalleFichaServicio.css' %}" />
  </head>
  <body>
    <!-- Elemento para almacenar el ID de la ficha de servicio -->
    <div id="fichaServicio" data-id="{{ servicio_id }}"></div>

    <div id="contenidoPrincipal" class="contenido-principal">
      <div id="imprimirContenido" class="imprimirContenido">
        <div class="row">
          <div class="col-md-3" style="width: 100vw; margin-top: 2vh;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <div style="display: flex; align-items: center;">
                <span style="color: white; margin-left: 1vw; font-size: 2.5em; margin-right: 5vw;">FICHA SERVICIO RESUMEN</span>
              </div>
            </div>
          </div>
        </div>

        <div class="datos-navio">
          <h3>DATOS NAVÍO</h3>
          <div class="direccion-navio">
            <div class="fila">
              <div class="datonavioColumna">
                <label for="nombre_mn">NOMBRE MN:</label>
                <input type="text" id="nombre_mn" name="nombre_mn" value="{{ motonave.nombre }}" readonly />
              </div>
              <div class="datonavioColumna">
                <label for="procedencia_carga">PROCEDENCIA CARGA:</label>
                <input type="text" id="procedencia_carga" name="procedencia_carga" value="{{ motonave.procedenciaCarga }}" readonly />
              </div>
            </div>
            <div class="fila">
              <div class="datonavioColumna">
                <label for="n_viaje">N VIAJE:</label>
                <input type="text" id="n_viaje" name="n_viaje" value="{{ motonave.numero_viaje }}" readonly />
              </div>
              <div class="datonavioColumna">
                <label for="armador">ARMADOR:</label>
                <input type="text" id="armador" name="armador" value="{{ motonave.armador }}" readonly />
              </div>
            </div>
            <div class="fila">
              <div class="datonavioColumna">
                <label for="bodegas_totales">BODEGAS TOTALES:</label>
                <input type="text" id="bodegas_totales" name="bodegas_totales" value="{{ motonave.cantBodegas }}" readonly />
              </div>
              <div class="datonavioColumna">
                <label for="agencia">AGENCIA:</label>
                <input type="text" id="agencia" name="agencia" value="{{ motonave.agencia }}" readonly />
              </div>
            </div>
            <div class="fila">
              <div class="datonavioColumna">
                <label for="puerto">PUERTO:</label>
                <input type="text" id="puerto" name="puerto" value="{{ motonave.puerto }}" readonly />
              </div>
              <div class="datonavioColumna">
                <label for="proxPuerto">PROXIMO PUERTO:</label>
                <input type="text" id="proxPuerto" name="proxPuerto" value="{{ motonave.prox_puerto }}" readonly />
              </div>
            </div>
          </div>
        </div>

        <div class="datos-servicio">
          <h3>DATOS DEL SERVICIO</h3>
          <div class="direccion-servicio">
            <div class="fila">
              <div class="datoservicioColumna">
                <label for="tipo_servicio">TIPO SERVICIO:</label>
                <input type="text" id="tipo_servicio" value="{{ ficha_servicio.tipo_servicio }}" readonly />
              </div>
              <div class="datoservicioColumna">
                <label for="fecha_arribo_cuadrilla">FECHA ARRIBO CUADRILLA:</label>
                <input type="text" id="fecha_arribo_cuadrilla" value="{{ ficha_servicio.fecha_arribo_cuadrilla }}" readonly />
              </div>
            </div>
            <div class="fila">
              <div class="datoservicioColumna">
                <label for="bodegas_a_realizar">BODEGAS A REALIZAR:</label>
                <input type="text" id="bodegas_a_realizar" value="{{ ficha_servicio.bodegas_a_realizar }}" readonly />
              </div>
              <div class="datoservicioColumna">
                <label for="hospedaje">HOSPEDAJE:</label>
                <input type="text" id="hospedaje" value="{{ ficha_servicio.hospedaje }}" readonly />
              </div>
            </div>
            <div class="fila">
              <div class="datoservicioColumna">
                <label for="lancha">LANCHA:</label>
                <input type="text" id="lancha" value="{{ ficha_servicio.lancha }}" readonly />
              </div>
              <div class="datoservicioColumna">
                <label for="grua">GrÚa:</label>
                <input type="text" id="grua" value="{{ ficha_servicio.grua }}" readonly />
              </div>
            </div>
            <div class="fila">
              <div class="datoservicioColumna">
                <label for="navegacion">NAVEGACIÓN:</label>
                <input type="text" id="navegacion" value="{{ ficha_servicio.navegacion }}" readonly />
              </div>
              <div class="datoservicioColumna">
                <label for="arriendo_bomba">ARRIENDO BOMBA:</label>
                <input type="text" id="arriendo_bomba" value="{{ ficha_servicio.arriendo_bomba }}" readonly />
              </div>
            </div>
          </div>
        </div>

        <!-- SECCIONES DE NOMINACIONES -->
        <div class="nominaciones">
          <div class="seccion">
            <h3>Personal</h3>
            <div class="contenedor">
              {% for personal in ficha_servicio.personal_nominado.all %}
                <div class="rectangulo">
                  <p>{{ personal.nombre }}</p>
                  <p>{{ personal.cargo }}</p>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="seccion">
            <h3>Vehículos</h3>
            <div class="contenedor">
              {% for vehiculo in ficha_servicio.vehiculos_nominados.all %}
                <div class="rectangulo">
                  <p>{{ vehiculo.tipo_vehiculo }}</p>
                  <p>{{ vehiculo.patente }}</p>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="seccion">
            <h3>Químicos</h3>
            <div class="contenedor">
              {% for quimico in ficha_servicio.quimicos_nominados.all %}
                <div class="rectangulo">
                  <p>{{ quimico.tipo_quimico }}</p>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="seccion">
            <h3>Equipos</h3>
            <div class="contenedor">
              {% for vario in ficha_servicio.varios_nominados.all %}
                <div class="rectangulo">
                  <p>{{ vario.nombre }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- Botones -->
      <div class="botones">
        <button type="button" onclick="goBack()" style="border: none; background: none;"><img src="{% static 'images/Volver.png' %}" alt="Volver" width="40" height="40" style="margin-right: 2vw; cursor: pointer;" /></button>
        <button type="button" onclick="generatePDF()" style="border: none; background: none;"><img src="{% static 'images/IconoDescargar.png' %}" alt="Imprimir" width="60" height="60" style="margin-right: 2vw; cursor: pointer;" /></button>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <script>
      function goBack() {
        history.back()
      }
      
      async function generatePDF() {
        const { jsPDF } = window.jspdf
        const doc = new jsPDF('p', 'pt', 'a4')
      
        const element = document.getElementById('imprimirContenido')
        if (!element) {
          console.error('Element with id "contenidoPrincipal" not found')
          return
        }
      
        // Ocultar el elemento con la clase 'arrow-down' antes de capturar el contenido
        const arrowDownElement = document.querySelector('.arrow-down')
        if (arrowDownElement) {
          arrowDownElement.style.display = 'none'
        }
      
        const canvas = await html2canvas(element, { scale: 2, useCORS: true })
        const imgData = canvas.toDataURL('image/png')
      
        // Restaurar la visibilidad del elemento después de capturar el contenido
        if (arrowDownElement) {
          arrowDownElement.style.display = ''
        }
      
        const imgProps = doc.getImageProperties(imgData)
        const pdfWidth = doc.internal.pageSize.getWidth()
        const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width
      
        // Ajustar el tamaño de la página del PDF según la altura del contenido
        doc.internal.pageSize.setHeight(pdfHeight)
      
        doc.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight)
      
        const fichaServicioElement = document.getElementById('fichaServicio')
        if (!fichaServicioElement) {
          console.error('Element with id "fichaServicio" not found')
          return
        }
      
        const fichaId = fichaServicioElement.getAttribute('data-id')
        if (!fichaId) {
          console.error('Attribute "data-id" not found on element with id "fichaServicio"')
          return
        }
      
        const nombreMotonaveElement = document.getElementById('nombre_mn')
        if (!nombreMotonaveElement) {
          console.error('Element with id "nombre_mn" not found')
          return
        }
      
        const nombreMotonave = nombreMotonaveElement.value
      
        const fileName = `detalleFichaServicio_${nombreMotonave}_${fichaId}.pdf`
      
        doc.save(fileName)
      }
    </script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/GestorOperaciones/gestionarServicios.js' %}"></script>
  </body>
</html>
