{% extends 'html/base.html' %}

{% block title %}
  Ficha Personal
{% endblock %}

{% block module_styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesPersonal.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}" />
{% endblock %}

{% block content %}
  <button class="btn btn-secondary" type="button" onclick="goBack()" style="margin: 20px;">Volver</button>
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
{% endblock %}

{% block module_scripts %}
  <script src="{% static 'js/scriptPersonal.js' %}"></script>
{% endblock %}
