{% extends 'html/base.html' %}

{% block title %}
  Ficha de Servicio
{% endblock %}

{% block module_styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesFichaServicio.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}" />
{% endblock %}

{% block content %}
  <div id="contenidoPrincipal" class="contenido-principal">
    <div class="row">
      <div class="col-md-3" style="width: 100vw; margin-top: 2vh;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div style="display: flex; align-items: center;">
            <span style="color: white; margin-left: 1vw; font-size: 2.5em; margin-right: 5vw;">Nueva Ficha</span>
          </div>
        </div>
      </div>
    </div>
    
    <form id="fichaServicioForm" method="POST" action="{% url 'erp:actualizar_ficha_servicio_por_id' servicio_id=ficha_servicio.id %}">
      {% csrf_token %}
    
      <!-- Campos ocultos -->
      <input type="hidden" id="conductores_vinculados" name="conductores_vinculados">
      <input type="hidden" name="personal_nominado" id="personal_nominado" value="" autocomplete="off">
      <input type="hidden" name="vehiculos_nominados" id="vehiculos_nominados" value="" autocomplete="off">
      <input type="hidden" name="quimicos_nominados" id="quimicos_nominados" value="" autocomplete="off">
      <input type="hidden" name="varios_nominados" id="varios_nominados" value="" autocomplete="off">
      <input type="hidden" name="nombre_motonave" value="{{ motonave.nombre }}"/>
      <div class="datos-navio">
        <h3>DATOS NAVÍO</h3>
        <div class="direccion-navio">
          <div class="fila-unoNavio">
            <div>
              <input type="text" name="nombre_mn" value="{{ motonave.nombre }}" readonly />
              <label>NOMBRE MN</label>
            </div>
            <div>
              <input type="text" name="n_viaje" value="{{ motonave.numero_viaje }}" readonly />
              <label>N VIAJE</label>
            </div>
            <div>
              <input type="text" name="bodegas_totales" value="{{ motonave.cantBodegas }}" readonly />
              <label>BODEGAS TOTALES</label>
            </div>
            <div>
              {% with puerto_selected=motonave.puerto %}
                <select name="puerto" id="puerto" required>
                  <option value="Puerto de Ancud" {% if puerto_selected == 'Puerto de Ancud' %}selected{% endif %}>Puerto de Ancud</option>
                  <option value="Puerto de Antofagasta" {% if puerto_selected == 'Puerto de Antofagasta' %}selected{% endif %}>Puerto de Antofagasta</option>
                  <option value="Puerto de Arica" {% if puerto_selected == 'Puerto de Arica' %}selected{% endif %}>Puerto de Arica</option>
                  <option value="Puerto de Chañaral" {% if puerto_selected == 'Puerto de Chañaral' %}selected{% endif %}>Puerto de Chañaral</option>
                  <option value="Puerto de Calbuco" {% if puerto_selected == 'Puerto de Calbuco' %}selected{% endif %}>Puerto de Calbuco</option>
                  <option value="Puerto de Caleta Coloso" {% if puerto_selected == 'Puerto de Caleta Coloso' %}selected{% endif %}>Puerto de Caleta Coloso</option>
                  <option value="Puerto de Coquimbo" {% if puerto_selected == 'Puerto de Coquimbo' %}selected{% endif %}>Puerto de Coquimbo</option>
                  <option value="Puerto de Caldera" {% if puerto_selected == 'Puerto de Caldera' %}selected{% endif %}>Puerto de Caldera</option>
                  <option value="Puerto de Coronel" {% if puerto_selected == 'Puerto de Coronel' %}selected{% endif %}>Puerto de Coronel</option>
                  <option value="Puerto de Corral" {% if puerto_selected == 'Puerto de Corral' %}selected{% endif %}>Puerto de Corral</option>
                  <option value="Puerto Guacolda II" {% if puerto_selected == 'Puerto Guacolda II' %}selected{% endif %}>Puerto Guacolda II</option>
                  <option value="Puerto de Huasco" {% if puerto_selected == 'Puerto de Huasco' %}selected{% endif %}>Puerto de Huasco</option>
                  <option value="Puerto de Iquique" {% if puerto_selected == 'Puerto de Iquique' %}selected{% endif %}>Puerto de Iquique</option>
                  <option value="Puerto de Lirquén" {% if puerto_selected == 'Puerto de Lirquén' %}selected{% endif %}>Puerto de Lirquén</option>
                  <option value="Puerto de Lota" {% if puerto_selected == 'Puerto de Lota' %}selected{% endif %}>Puerto de Lota</option>
                  <option value="Puerto de Mejillones" {% if puerto_selected == 'Puerto de Mejillones' %}selected{% endif %}>Puerto de Mejillones</option>
                  <option value="Puerto de Las Ventanas" {% if puerto_selected == 'Puerto de Las Ventanas' %}selected{% endif %}>Puerto de Las Ventanas</option>
                  <option value="Puerto Montt" {% if puerto_selected == 'Puerto Montt' %}selected{% endif %}>Puerto Montt</option>
                  <option value="Puerto de Punta Arenas" {% if puerto_selected == 'Puerto de Punta Arenas' %}selected{% endif %}>Puerto de Punta Arenas</option>
                  <option value="Puerto de Quintero" {% if puerto_selected == 'Puerto de Quintero' %}selected{% endif %}>Puerto de Quintero</option>
                  <option value="Puerto de San Antonio" {% if puerto_selected == 'Puerto de San Antonio' %}selected{% endif %}>Puerto de San Antonio</option>
                  <option value="Puerto de San Vicente" {% if puerto_selected == 'Puerto de San Vicente' %}selected{% endif %}>Puerto de San Vicente</option>
                  <option value="Puerto de Talcahuano" {% if puerto_selected == 'Puerto de Talcahuano' %}selected{% endif %}>Puerto de Talcahuano</option>
                  <option value="Puerto de Taltal" {% if puerto_selected == 'Puerto de Taltal' %}selected{% endif %}>Puerto de Taltal</option>
                  <option value="Puerto de Tocopilla" {% if puerto_selected == 'Puerto de Tocopilla' %}selected{% endif %}>Puerto de Tocopilla</option>
                  <option value="Puerto de Valparaíso" {% if puerto_selected == 'Puerto de Valparaíso' %}selected{% endif %}>Puerto de Valparaíso</option>
                </select>
              {% endwith %}
              <label>PUERTO</label>
            </div>
            <div>
              <input type="text" name="procedencia_carga" value="{{ motonave.procedenciaCarga }}" required/>
              <label>PROCEDENCIA CARGA</label>
            </div>
          </div>
          <div class="fila-dosNavio">
            <div>
              <input type="text" name="armador" value="{{ motonave.armador }}" required/>
              <label>ARMADOR</label>
            </div>
            <div>
              <input type="text" name="agencia" value="{{ motonave.agencia }}" required/>
              <label>AGENCIA</label>
            </div>
            <div>
              {% with prox_puerto_selected=motonave.prox_puerto %}
                <select name="prox puerto" id="proxPuerto" required>
                  <option value="Puerto de Ancud" {% if prox_puerto_selected == 'Puerto de Ancud' %}selected{% endif %}>Puerto de Ancud</option>
                  <option value="Puerto de Antofagasta" {% if prox_puerto_selected == 'Puerto de Antofagasta' %}selected{% endif %}>Puerto de Antofagasta</option>
                  <option value="Puerto de Arica" {% if prox_puerto_selected == 'Puerto de Arica' %}selected{% endif %}>Puerto de Arica</option>
                  <option value="Puerto de Chañaral" {% if prox_puerto_selected == 'Puerto de Chañaral' %}selected{% endif %}>Puerto de Chañaral</option>
                  <option value="Puerto de Calbuco" {% if prox_puerto_selected == 'Puerto de Calbuco' %}selected{% endif %}>Puerto de Calbuco</option>
                  <option value="Puerto de Caleta Coloso" {% if prox_puerto_selected == 'Puerto de Caleta Coloso' %}selected{% endif %}>Puerto de Caleta Coloso</option>
                  <option value="Puerto de Coquimbo" {% if prox_puerto_selected == 'Puerto de Coquimbo' %}selected{% endif %}>Puerto de Coquimbo</option>
                  <option value="Puerto de Caldera" {% if prox_puerto_selected == 'Puerto de Caldera' %}selected{% endif %}>Puerto de Caldera</option>
                  <option value="Puerto de Coronel" {% if prox_puerto_selected == 'Puerto de Coronel' %}selected{% endif %}>Puerto de Coronel</option>
                  <option value="Puerto de Corral" {% if prox_puerto_selected == 'Puerto de Corral' %}selected{% endif %}>Puerto de Corral</option>
                  <option value="Puerto Guacolda II" {% if prox_puerto_selected == 'Puerto Guacolda II' %}selected{% endif %}>Puerto Guacolda II</option>
                  <option value="Puerto de Huasco" {% if prox_puerto_selected == 'Puerto de Huasco' %}selected{% endif %}>Puerto de Huasco</option>
                  <option value="Puerto de Iquique" {% if prox_puerto_selected == 'Puerto de Iquique' %}selected{% endif %}>Puerto de Iquique</option>
                  <option value="Puerto de Lirquén" {% if prox_puerto_selected == 'Puerto de Lirquén' %}selected{% endif %}>Puerto de Lirquén</option>
                  <option value="Puerto de Lota" {% if prox_puerto_selected == 'Puerto de Lota' %}selected{% endif %}>Puerto de Lota</option>
                  <option value="Puerto de Mejillones" {% if prox_puerto_selected == 'Puerto de Mejillones' %}selected{% endif %}>Puerto de Mejillones</option>
                  <option value="Puerto de Las Ventanas" {% if prox_puerto_selected == 'Puerto de Las Ventanas' %}selected{% endif %}>Puerto de Las Ventanas</option>
                  <option value="Puerto Montt" {% if prox_puerto_selected == 'Puerto Montt' %}selected{% endif %}>Puerto Montt</option>
                  <option value="Puerto de Punta Arenas" {% if prox_puerto_selected == 'Puerto de Punta Arenas' %}selected{% endif %}>Puerto de Punta Arenas</option>
                  <option value="Puerto de Quintero" {% if prox_puerto_selected == 'Puerto de Quintero' %}selected{% endif %}>Puerto de Quintero</option>
                  <option value="Puerto de San Antonio" {% if prox_puerto_selected == 'Puerto de San Antonio' %}selected{% endif %}>Puerto de San Antonio</option>
                  <option value="Puerto de San Vicente" {% if prox_puerto_selected == 'Puerto de San Vicente' %}selected{% endif %}>Puerto de San Vicente</option>
                  <option value="Puerto de Talcahuano" {% if prox_puerto_selected == 'Puerto de Talcahuano' %}selected{% endif %}>Puerto de Talcahuano</option>
                  <option value="Puerto de Taltal" {% if prox_puerto_selected == 'Puerto de Taltal' %}selected{% endif %}>Puerto de Taltal</option>
                  <option value="Puerto de Tocopilla" {% if prox_puerto_selected == 'Puerto de Tocopilla' %}selected{% endif %}>Puerto de Tocopilla</option>
                  <option value="Puerto de Valparaíso" {% if prox_puerto_selected == 'Puerto de Valparaíso' %}selected{% endif %}>Puerto de Valparaíso</option>
                  <option value="NO APLICA" {% if prox_puerto_selected == 'NO APLICA' %}selected{% endif %}>NO APLICA</option>
                </select>
              {% endwith %}
              <label>PRÓXIMO PUERTO</label>
            </div>
          </div>
        </div>
      </div>

      <div class="datos-servicio">
        <h3>DATOS DEL SERVICIO</h3>
        <div class="direccion-servicio">
          <div class="fila-unoServicio">
            <div>
              <input type="text" name="tipo_servicio" required/>
              <label>TIPO SERVICIO</label>
            </div>
            <div>
              <input type="date" name="fecha_arribo_cuadrilla" required/>
              <label>FECHA ARRIBO CUADRILLA</label>
            </div>
            <div>
              <input type="number" name="bodegas_a_realizar" required/>
              <label>BODEGAS A REALIZAR</label>
            </div>
            <div>
              <select name="hospedaje" id="hospedaje" required>
                <option value="">Seleccione una opción</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
                <option value="NO_APLICA">NO APLICA</option>
              </select>
              <label>HOSPEDAJE</label>
            </div>
          </div>
          <div class="fila-dosServicio">
            <div>
              <select name="lancha" id="lancha" required>
                <option value="">Seleccione una opción</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
                <option value="NO_APLICA">NO APLICA</option>
              </select>
              <label>LANCHA</label>
            </div>
            <div>
              <select name="grua" id="grua" required>
                <option value="">Seleccione una opción</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
                <option value="NO_APLICA">NO APLICA</option>
              </select>
              <label>GRÚA</label>
            </div>
            <div>
              <select name="arriendo_bomba" id="arriendo_bomba" required>
                <option value="">Seleccione una opción</option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
                <option value="NO_APLICA">NO APLICA</option>
              </select>
              <label>ARRIENDO BOMBA</label>
            </div>
            <div>
              <input type="text" name="navegacion" required/>
              <label>NAVEGACIÓN</label>
            </div>
          </div>
        </div>
      </div>
      
      <!-- FLECHA PA BAJAR -->
      <div class="arrow-down"></div>

      <!--NOMINACION-->
      <h3 class="nominacionh3">Nominación</h3>
      
      <!-- TABLERO NOMINACIONES -->
      <div class="cuadro-azul" id="tableroMotonaves">
        <div id="columnPersonal" class="columna">
          <h3>Personal</h3>
          <div class="lineaGris">
            <div class="columna-contenido">
              <button type="button" style="width: 7.5vw; border-radius: 20px; background-color: #052242; margin-top: 10px; border: none;" class="modal-trigger" data-target="personalModal"><img src="{% static 'images/mas.png' %}" alt="Agregar" width="30" height="30" style="cursor: pointer; padding: 5px;" /></button>
            </div>
          </div>
        </div>
        
        <div id="columnVehiculo" class="columna">
          <h3>Vehículos</h3>
          <div class="lineaGris">
            <div class="columna-contenido">
              <button type="button" style="width: 7.5vw; border-radius: 20px; background-color: #052242; margin-top: 10px; border: none;" class="modal-trigger" data-target="vehiculoModal"><img src="{% static 'images/mas.png' %}" alt="Agregar" width="30" height="30" style="cursor: pointer; padding: 5px;" /></button>
            </div>
          </div>
        </div>
    
        <div id="columnQuimico" class="columna">
          <h3>Químicos</h3>
          <div class="lineaGris">
            <div class="columna-contenido">
              <button type="button" style="width: 7.5vw; border-radius: 20px; background-color: #052242; margin-top: 10px; border: none;" class="modal-trigger" data-target="quimicoModal"><img src="{% static 'images/mas.png' %}" alt="Agregar" width="30" height="30" style="cursor: pointer; padding: 5px;" /></button>
            </div>
          </div>
        </div>
    
        <div id="columnVario" class="columna">
          <h3>Equipos</h3>
          <div class="sinLineaGris">
            <div class="columna-contenido">
              <button type="button" style="width: 7.5vw; border-radius: 20px; background-color: #052242; margin-top: 10px; border: none;" class="modal-trigger" data-target="varioModal"><img src="{% static 'images/mas.png' %}" alt="Agregar" width="30" height="30" style="cursor: pointer; padding: 5px;" /></button>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Modales -->
      <!-- Modal Personal -->
      <div class="modal" id="personalModal" tabindex="-1" aria-labelledby="personalModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
        <div class="modal-dialog modal-dialog-centered" style="width: 30vw; max-width: 50vw; max-height: 50vh; overflow: auto;">
          <div class="modal-content">
            <div class="modal-header">
              <img src="{% static 'images/Logo_Anadir_Personal.png' %}" alt="Logo" width="30" height="30" style="margin-right: 10px;" />
              <h5 class="modal-title" style="margin-right: 75%;" id="personalModalLabel">Personal</h5>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label style="width: 24vw; margin-left: 20px; margin-bottom: 5px; font-size: 20px;">FILTRO:</label>
                <div id="cargoCheckboxes" style="width: 24vw; margin: 0 auto;">
                  {% for cargo in cargos %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="{{ cargo }}" id="cargoCheckbox{{ forloop.counter }}">
                      <label class="form-check-label" for="cargoCheckbox{{ forloop.counter }}">
                        {{ cargo }}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="mb-3">
                <select name="personal_nominado" id="personalSelect" class="form-select" style="width: 24vw; margin: 0 auto; border-radius: 15px;">
                  <option value="">Seleccione un personal</option>
                  {% for persona in personal %}
                    <option value="{{ persona.id }}" data-nombre="{{persona.nombre}}" data-rut="{{ persona.rut }}" data-cargo="{{ persona.cargo }}" data-especialidades="{% for especialidad in persona.especialidades.all %}{{ especialidad.nombre }}{% if not forloop.last %}, {% endif %}{% endfor %}" data-conductor="{{ persona.conductor }}" data-tipo-licencia="{{ persona.tipo_licencia }}" data-estado="{{ persona.estado }}">{{ persona.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="personalInfo" style="margin-left: 20px; background-color: white; border-radius: 15px; overflow-y: auto; width: 24vw; margin: 0 auto;"></div>
              <div id="conductorCheckboxContainer" style="margin-left: 20px; width: 24vw; margin: 0 auto; margin-top: 1vh;">
                <input type="checkbox" id="conductorCheckbox" style="margin-right: 5px;">
                <label for="conductorCheckbox">Asignar como conductor nominado</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="modal-add btn btn-custom-color" data-type="personal" style="width: 6.5vw; margin: 0 auto; color: white; background-color: #860909c9; border-radius: 25px; padding: 5px;">Agregar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Vehículo -->
      <div class="modal" id="vehiculoModal" tabindex="-1" aria-labelledby="vehiculoModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
        <div class="modal-dialog modal-dialog-centered" style="width: 30vw; max-width: 50vw; max-height: 50vh;">
          <div class="modal-content" >
            <div class="modal-header">
              <img src="{% static 'images/IconoAuto.png' %}" alt="Logo" width="45" height="25" style="margin-right: 10px;" />
              <h5 class="modal-title" style="margin-right: 75%;" id="vehiculoModalLabel">Vehículo</h5>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
              <div class="mb-3">
                <select name="vehiculo_nominado" id="vehiculoSelect" class="form-select" style="width: 24vw; margin: 0 auto; border-radius: 15px;">
                  <option value="">Seleccione un vehículo</option>
                  {% for vehiculo in vehiculos %}
                    <option value="{{ vehiculo.id }}" data-tipo-vehiculo="{{ vehiculo.tipo_vehiculo }}" data-patente="{{ vehiculo.patente }}" data-marca="{{ vehiculo.marca }}" data-modelo="{{ vehiculo.modelo }}" data-color="{{ vehiculo.color }}" data-numero-motor="{{ vehiculo.numero_motor }}" data-numero-chasis="{{ vehiculo.numero_chasis }}" data-cilindrada="{{ vehiculo.cilindrada }}" data-primer-ingreso="{{ vehiculo.primer_ingreso|date:'Y-m-d' }}" data-fecha-permiso-circulacion="{{ vehiculo.fecha_permiso_circulacion|date:'Y-m-d' }}" data-fecha-soap="{{ vehiculo.fecha_soap|date:'Y-m-d' }}" data-fecha-revision-tecnica="{{ vehiculo.fecha_revision_tecnica|date:'Y-m-d' }}" data-seguro-nombre="{{ vehiculo.seguro_nombre }}" data-seguro-poliza="{{ vehiculo.seguro_poliza }}" data-tipo-combustible="{{ vehiculo.tipo_combustible }}" data-estado="{{ vehiculo.estado }}">{{ vehiculo.tipo_vehiculo }} {{ vehiculo.patente }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="vehiculoInfo" style="margin-left: 20px; background-color: white; border-radius: 15px; overflow-y: auto; width: 24vw; margin: 0 auto;"></div>
              <div id="conductoresNominadosContainer" class="hidden" style="margin-left: 20px; width: 24vw; margin: 0 auto; margin-top: 1vh;">
                <label for="conductoresNominados">Conductores nominados:</label>
                <select id="conductoresNominados" style="width: 100%; background-color: #01152a; color: white;"></select>
                <button type="button" id="agregarConductor" style="margin-top: 5px;">Agregar</button>
                <div id="conductoresVinculadosContainer" style="margin-top: 5px;"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="modal-add btn btn-custom-color" data-type="vehiculo" style="width: 6.5vw; margin: 0 auto; color: white; background-color: #860909c9; border-radius: 25px; padding: 5px;">Agregar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Químico -->
      <div class="modal" id="quimicoModal" tabindex="-1" aria-labelledby="quimicoModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
        <div class="modal-dialog modal-dialog-centered" style="width: 30vw;">
          <div class="modal-content">
            <div class="modal-header">
              <img src="{% static 'images/IconoQuimico.png' %}" alt="Logo" width="30" height="30" style="margin-right: 10px;" />
              <h5 class="modal-title" style="margin-right: 75%;" id="quimicoModalLabel">Químico</h5>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <select name="quimicos_nominados" id="quimicoSelect" class="form-select" style="width: 24vw; margin: 0 auto; border-radius: 15px;" >
                  <option value="">Seleccione un químico</option>
                  {% for quimico in quimicos %}
                    <option value="{{ quimico.id }}" data-fecha-ingreso="{{ quimico.fecha_ingreso }}" data-litros-ingreso="{{ quimico.litros_ingreso }}" data-numero-factura="{{ quimico.numero_factura }}" data-estado="{{ quimico.estado }}">{{ quimico.tipo_quimico }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="quimicoInfo" style="margin-left: 20px; background-color: white; border-radius: 15px; overflow-y: auto; width: 24vw; margin: 0 auto;" ></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="modal-add btn btn-custom-color" data-type="quimico" style="width: 6.5vw; margin: 0 auto; color: white ; background-color: #860909c9; border-radius: 25px; padding: 5px;">Agregar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Vario -->
      <div class="modal" id="varioModal" tabindex="-1" aria-labelledby="varioModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
        <div class="modal-dialog modal-dialog-centered" style="width: 30vw;">
          <div class="modal-content">
            <div class="modal-header">
              <img src="{% static 'images/IconoHerramientas.png' %}" alt="Logo" width="30" height="30" style="margin-right: 10px;" />
              <h5 class="modal-title" style="margin-right: 75%;" id="varioModalLabel">Vario</h5>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <select name="vario_nominado" id="varioSelect" class="form-select" style="width: 24vw; margin: 0 auto; border-radius: 15px;">
                  <option value="">Seleccione un vario</option>
                  {% for vario in varios %}
                    <option value="{{ vario.id }}" data-fecha-ingreso="{{ vario.fecha_ingreso|date:'Y-m-d' }}" data-estado="{{ vario.estado }}">{{ vario.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="varioInfo" style="margin-left: 20px; background-color: white; border-radius: 15px; overflow-y: auto; width: 24vw; margin: 0 auto;"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="modal-add btn btn-custom-color" data-type="vario" style="width: 6.5vw; margin: 0 auto; color: white; background-color: #860909c9; border-radius: 25px; padding: 5px;">Agregar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ... -->
      <div class="botones">
        <button type="button" onclick="goBack()" style="border: none; background: none;">
          <img src="{% static 'images/Volver.png' %}" alt="Volver" width="40" height="40" style="margin-right: 2vw; cursor: pointer;" />
        </button>
        <div id="selectedElementsOutput" class="hidden"></div>
        <button type="submit" class="guardar">GUARDAR</button>
      </div>
    </form>
  </div>

{% endblock %}

{% block module_scripts %}
  <script>
    function goBack() {
      history.back();
    }
  </script>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

  <script src="{% static "js/FichaServicio/modal.js" %}"></script>
  <script src="{% static "js/FichaServicio/ficha.js" %}"></script>
  <script src="{% static "js/FichaServicio/conductores.js" %}"></script>
  <script src="{% static "js/FichaServicio/main.js" %}"></script>

  <script>
    var staticUrls = {
      eliminarIcono: "{% static 'images/EliminarNomina.png' %}",
      choferNominado: "{% static 'images/ChoferEncendido.png' %}"
    }
  </script>
{% endblock %}