{% extends 'html/base.html' %}

{% block title %}
  Gestor de Operaciones
{% endblock %}

{% block module_styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesGestorOperaciones.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}" />
{% endblock %}

{% block content %}
  <div id="contenidoPrincipal" class="contenido-principal">
    <div class="row">
      <div class="col-md-3" style="width: 100vw; margin-top: 2vh;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <!-- Logo y texto "Operaciones" -->
          <div style="display: flex; align-items: center;">
            <button type="button" onclick="goBack()" style="border: none; background: none;"><img src="{% static 'images/Volver.png' %}" alt="Volver" width="50" height="40" style="margin-right: 2vw; cursor: pointer; margin-left: 5vh;" /></button>
            <img src="{% static 'images/Operaciones.png' %}" alt="Texto alternativo de la imagen" class="mb-2" style="height: 6.5vh;" />
            <span style="color: white; margin-left: 1vw; font-size: 1.2em;">Operaciones</span>
          </div>
          <div style="display: flex; margin-left: 40vw; align-items: center">
            <div style="align-items: center; margin-right: 1vw;">
              <button type="button" class="btn btn-primary" style="width: 100%;" href="#" data-bs-toggle="modal" data-bs-target="#listaMotonaveModal" title="Lista de Motonaves"><img src="{% static 'images/ListaServicios.png' %}" class="btn-image" style="width: 4vh; height: 4vh;" /> <span class="btn-text" style="font-size: 0.9em">Lista de Motonave</span></button>
            </div>
            <div style="align-items: center;">
              <button type="button" class="btn btn-custom-color" onclick="window.location.href='{% url 'erp:historial_Servicio' %}'" style="width: 100%;" title="Historial de Motonaves"><img src="{% static 'images/HistorialServicios.png' %}" class="btn-image" style="width: 4vh; height: 4vh" /> <span class="btn-text" style="font-size: 0.9em">Historial de Servicios</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sección "Crear Ficha" -->
    <div class="row mt-4">
      <div class="col-md-3" style="width: 100vw;">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px;">
          <!-- Botón "Crear Motonave" -->
          <div class="dropdown">
            <button class="btn btn-primary btn-agregar dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 100px;">Crear Ficha De</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalAgregarMotonave">Motonave</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalServicio">Servicio</a>
              </li>
            </ul>
          </div>
          <!-- Cuadro Azul (Tablero de Motonaves) -->
          <div class="cuadro-azul" id="tableroMotonaves">
            <div id="columnNominado" class="columna">
              <h3>Nominado</h3>
              <div class="columna-contenido">
                <!-- Contenido de la columna "Nominado" -->
              </div>
            </div>
            <div id="columnEnProceso" class="columna">
              <h3>En Proceso</h3>
              <div class="columna-contenido">
                <!-- Contenido de la columna "En Proceso" -->
              </div>
            </div>
            <div id="columnTerminado" class="columna">
              <h3>Terminado</h3>
              <div class="columna-contenido">
                <!-- Contenido de la columna "Terminado" -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Agregar Motonave -->
    <div class="modal fade" id="modalAgregarMotonave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
      <div class="modal-dialog modal-dialog-centered" style="width: 30vw;">
        <div class="modal-content">
          <div class="modal-header">
            <!-- Logo -->
            <img src="{% static 'images/Operaciones.png' %}" alt="Logo" width="30" height="30" style="margin-right: 10px;" />
            <h5 class="modal-title" id="exampleModalLabel">Nueva Motonave</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="formAgregarMotonave" method="post" action="{% url 'erp:crear_motonave' %}">
            {% csrf_token %}
            <div class="modal-body">
              <div class="mb-3">
                <label for="nombreMotonave" style="margin-left: 40px;" class="form-label">Nombre de la Motonave:</label>
                <input type="text" class="form-control" name="nombreMotonave" style="width: 91%; margin-left: 40px;" id="nombreMotonave" required />
              </div>
              <div class="mb-3">
                <label for="cantidadBodegas" style="margin-left: 40px;" class="form-label">Cantidad de Bodegas:</label>
                <input type="number" class="form-control" name="cantidadBodegas" style="width: 91%; margin-left: 40px;" id="cantidadBodegas" min="1" required />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-custom-color" style="margin-right: 40px;">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Lista Motonave -->
    <div class="modal fade" id="listaMotonaveModal" tabindex="-1" aria-labelledby="listaMotonaveModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="max-height: 700px; min-height: 0px; background-color: white;">
          <div class="modal-header">
            <img src="{% static 'images/LogoLista.png' %}" alt="Logo" width="40" height="40" style="margin-right: 10px;" />
            <h5 class="modal-title" id="listaMotonaveModalLabel">Tabla de Motonaves</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-size: 20px; padding: 2%; margin-left: 2vw;">
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
              <table class="table table-striped" style="color: white;  margin-bottom: 0;">
                <thead style="position: sticky; top: 0; background-color: #01152a;">
                  <tr>
                    <th>Motonave</th>
                    <th>Estado</th>
                    <th>Bodegas</th>
                    <th>Viaje Actual</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  {% for motonave in motonaves %}
                    <tr style="color: white;">
                      <td>{{ motonave.nombre }}</td>
                      <td>{{ motonave.estado_servicio }}</td>
                      <td>{{ motonave.cantBodegas }}</td>
                      <td>{{ motonave.numero_viaje }}</td>
                      <td>
                        <button type="button" class="btn btn-editar-motonave" style="border: none; background: none;" data-bs-toggle="modal" data-bs-target="#modalEditarMotonave" data-motonave-id="{{ motonave.id }}" data-motonave-nombre="{{ motonave.nombre }}" data-motonave-bodegas="{{ motonave.cantBodegas }}" data-motonave-viaje="{{ motonave.numero_viaje }}"><img src="{% static 'images/Editar.png' %}" alt="Editar" width="40" height="40" style="cursor: pointer;" /></button>
                        <button type="button" id="eliminarMotonave" style="border: none; background: none;" title="Eliminar" data-motonave-id="{{ motonave.id }}"><img src="{% static 'images/Basurero.png' %}" alt="Eliminar" width="40" height="40" style="cursor: pointer;" /></button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar Motonave -->
    <div class="modal fade" id="modalEditarMotonave" tabindex="-1" aria-labelledby="modalEditarMotonaveLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
      <div class="modal-dialog modal-dialog-centered" style="width: 30vw;">
        <div class="modal-content">
          <div class="modal-header">
            <!-- Logo -->
            <img src="{% static 'images/Operaciones.png' %}" alt="Logo" width="30" height="30" style="margin-right: 10px;" />
            <h5 class="modal-title" id="modalEditarMotonaveLabel">Editar Motonave</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="formEditarMotonave" method="post">
            {% csrf_token %}
            <input type="hidden" id="editarMotonaveId" name="motonaveId" value="" />
            <div class="modal-body">
              <div class="mb-3">
                <label for="editarNombreMotonave" style="margin-left: 40px;" class="form-label">Nombre de la Motonave:</label>
                <input type="text" class="form-control" name="nombreMotonave" style="width: 91%; margin-left: 40px;" id="editarNombreMotonave" required />
              </div>
              <div class="mb-3">
                <label for="editarCantidadBodegas" style="margin-left: 40px;" class="form-label">Cantidad de Bodegas:</label>
                <input type="number" class="form-control" name="cantidadBodegas" style="width: 91%; margin-left: 40px;" id="editarCantidadBodegas" min="1" required />
              </div>
              <div class="mb-3">
                <label for="editarNumeroViaje" style="margin-left: 40px;" class="form-label">Número de Viaje:</label>
                <input type="number" class="form-control" name="numeroViaje" style="width: 91%; margin-left: 40px;" id="editarNumeroViaje" min="1" required />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-custom-color" style="margin-right: 40px;">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Servicio -->
    <div class="modal fade" id="modalServicio" tabindex="-1" aria-labelledby="modalServicioLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
      <div class="modal-dialog modal-dialog-centered" style="width: 60vw;">
        <div class="modal-content">
          <div class="modal-header">
            <img src="{% static 'images/LogoServicio.png' %}" alt="Logo" width="50" height="50" style="margin-right: 10px;" />
            <h5 class="modal-title">Nuevo Servicio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="margin-left: 30px;">
            <form id="formCrearServicio" method="post" action="">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="nombreMotonave" class="form-label">Selecciona una Motonave:</label>
                    <select class="form-select" name="nombreMotonave" style="width: 99%;" id="nombreMotonave" required>
                      {% for nombre_motonave in nombres_motonaves_disponibles %}
                        <option value="{{ nombre_motonave }}">{{ nombre_motonave }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="cantidadServicios" class="form-label">Cantidad de Servicios:</label>
                    <input type="number" class="form-control" style="width: 99%;" name="cantidadServicios" id="cantidadServicios" required min="1" pattern="\d+" />
                  </div>
                  <div class="mb-3">
                    <label for="puerto" class="form-label">Puerto:</label>
                    <select class="form-select" name="puerto" id="puerto" style="width: 99%;" required>
                      <option value="">Seleccione un puerto</option>
                      <option value="Puerto de Ancud">Puerto de Ancud</option>
                      <option value="Puerto de Antofagasta">Puerto de Antofagasta</option>
                      <option value="Puerto de Arica">Puerto de Arica</option>
                      <option value="Puerto de Chañaral">Puerto de Chañaral</option>
                      <option value="Puerto de Calbuco">Puerto de Calbuco</option>
                      <option value="Puerto de Caleta Coloso">Puerto de Caleta Coloso</option>
                      <option value="Puerto de Coquimbo">Puerto de Coquimbo</option>
                      <option value="Puerto de Caldera">Puerto de Caldera</option>
                      <option value="Puerto de Coronel">Puerto de Coronel</option>
                      <option value="Puerto de Corral">Puerto de Corral</option>
                      <option value="Puerto Guacolda II">Puerto Guacolda II</option>
                      <option value="Puerto de Huasco">Puerto de Huasco</option>
                      <option value="Puerto de Iquique">Puerto de Iquique</option>
                      <option value="Puerto de Lirquén">Puerto de Lirquén</option>
                      <option value="Puerto de Lota">Puerto de Lota</option>
                      <option value="Puerto de Mejillones">Puerto de Mejillones</option>
                      <option value="Puerto de Las Ventanas">Puerto de Las Ventanas</option>
                      <option value="Puerto Montt">Puerto Montt</option>
                      <option value="Puerto de Punta Arenas">Puerto de Punta Arenas</option>
                      <option value="Puerto de Quintero">Puerto de Quintero</option>
                      <option value="Puerto de San Antonio">Puerto de San Antonio</option>
                      <option value="Puerto de San Vicente">Puerto de San Vicente</option>
                      <option value="Puerto de Talcahuano">Puerto de Talcahuano</option>
                      <option value="Puerto de Taltal">Puerto de Taltal</option>
                      <option value="Puerto de Tocopilla">Puerto de Tocopilla</option>
                      <option value="Puerto de Valparaíso">Puerto de Valparaíso</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="proxPuerto" class="form-label">Próximo Puerto:</label>
                    <select class="form-select" name="proxPuerto" id="proxPuerto" style="width: 99%;" required>
                      <option value="">Seleccione un próximo puerto</option>
                      <option value="Puerto de Ancud">Puerto de Ancud</option>
                      <option value="Puerto de Antofagasta">Puerto de Antofagasta</option>
                      <option value="Puerto de Arica">Puerto de Arica</option>
                      <option value="Puerto de Chañaral">Puerto de Chañaral</option>
                      <option value="Puerto de Calbuco">Puerto de Calbuco</option>
                      <option value="Puerto de Caleta Coloso">Puerto de Caleta Coloso</option>
                      <option value="Puerto de Coquimbo">Puerto de Coquimbo</option>
                      <option value="Puerto de Caldera">Puerto de Caldera</option>
                      <option value="Puerto de Coronel">Puerto de Coronel</option>
                      <option value="Puerto de Corral">Puerto de Corral</option>
                      <option value="Puerto Guacolda II">Puerto Guacolda II</option>
                      <option value="Puerto de Huasco">Puerto de Huasco</option>
                      <option value="Puerto de Iquique">Puerto de Iquique</option>
                      <option value="Puerto de Lirquén">Puerto de Lirquén</option>
                      <option value="Puerto de Lota">Puerto de Lota</option>
                      <option value="Puerto de Mejillones">Puerto de Mejillones</option>
                      <option value="Puerto de Las Ventanas">Puerto de Las Ventanas</option>
                      <option value="Puerto Montt">Puerto Montt</option>
                      <option value="Puerto de Punta Arenas">Puerto de Punta Arenas</option>
                      <option value="Puerto de Quintero">Puerto de Quintero</option>
                      <option value="Puerto de San Antonio">Puerto de San Antonio</option>
                      <option value="Puerto de San Vicente">Puerto de San Vicente</option>
                      <option value="Puerto de Talcahuano">Puerto de Talcahuano</option>
                      <option value="Puerto de Taltal">Puerto de Taltal</option>
                      <option value="Puerto de Tocopilla">Puerto de Tocopilla</option>
                      <option value="Puerto de Valparaíso">Puerto de Valparaíso</option>
                      <option value="NO APLICA">NO APLICA</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="procedenciaCarga" class="form-label">Procedencia de la Carga:</label>
                    <input type="text" class="form-control" style="width: 99%;" name="procedenciaCarga" id="procedenciaCarga" required />
                  </div>
                  <div class="mb-3">
                    <label for="armador" class="form-label">Armador:</label>
                    <input type="text" class="form-control" style="width: 99%;" name="armador" id="armador" required />
                  </div>
                  <div class="mb-3">
                    <label for="agencia" class="form-label">Agencia:</label>
                    <input type="text" class="form-control" style="width: 99%;" name="agencia" id="agencia" required />
                  </div>
                  <div class="mb-3">
                    <label for="numeroViaje" class="form-label">Viaje:</label>
                    <input type="number" class="form-control" style="width: 99%;" name="numeroViaje" id="numeroViaje" required min="1" pattern="\d+" />
                  </div>
                </div>
              </div>
              <!-- Campo oculto para almacenar la fecha de nominación -->
              <input type="hidden" id="fechaNominacion" name="fechaNominacion" value="" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-custom-color" id="btnMostrarModalGestion" style="margin-right: 40px;">Ingresar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal de gestión de servicios -->
    <div class="modal fade" id="modalGestionarServicios" tabindex="-1" aria-labelledby="modalGestionarServiciosLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <img src="{% static 'images/LogoServicio.png' %}" alt="Logo" width="40" height="40" style="margin-right: 10px;" />
            <h5 class="modal-title" id="nombreMotonaveSeleccionada"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="width: 50vw;">
            <table id="tablaServicios" class="table text-white">
              <thead style="text-align: center; background-color: #01152a;">
                <tr>
                  <th onclick="sortTable(0)">N Servicio</th>
                  <th>Tipo Servicio</th>
                  <th>Fecha Inicio Faena</th>
                  <th>Estado</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <!-- Los servicios se agregarán dinámicamente aquí -->
              </tbody>
            </table>
            <button type="button" id="btnCrearServicio" style="border: none; background: none;" title="Agregar Servicio"><img src="{% static 'images/AgregarServicio.png' %}" alt="Agregar" width="125" height="40" style="cursor: pointer;" /></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Panel lateral -->
    <div id="panelLateral" class="panel-lateral">
      <div id="detallesMotonave" class="detalles-motonave">
        <div id="panelNombre" class="panel-nombre">
          <h4 id="nombreMotonave"></h4>
        </div>
        <div id="panelInfo" class="panel-info">
          <div class="nuevo-info-container">
            <div class="info-item">
              <p>Viaje:</p>
              <p id="viajeMotonave"></p>
            </div>
            <div class="info-item">
              <p>Armador:</p>
              <p id="armadorMotonave"></p>
            </div>
            <div class="info-item">
              <p>Procedencia:</p>
              <p id="cargaMotonave"></p>
            </div>
            <div class="info-item puerto-item">
              <p id="puertoMotonave"></p>
            </div>
            <div class="info-item estado-item">
              <p>Estado:</p>
              <p id="estadoMotonave"></p>
            </div>
            <div class="info-item agencia-item">
              <p>Agencia:</p>
              <p id="agenciaMotonave"></p>
            </div>
          </div>
        </div>
        <div id="panelInfo2" class="panel-info2">
          <div class="info-container2">
            <!-- Fecha Nom -->
            <p style="margin-top: 5px;">
              Fecha de Nominación: <span id="fechaNominacionMotonave" style="margin-left: 5%;"></span>
            </p>
            <!-- Servicios -->
            <div style="display: flex; align-items: center;">
              <p style="margin-right: 10px;">
                Servicios: <span id="cantidadServiciosActual"></span>
              </p>
              <button type="button" id="AbrirGestorServicio" title="Abrir Gestor de Servicios" style="border: none; background: none; margin-left: 20%; margin-bottom: 10px;"><img src="{% static 'images/Ojo.png' %}" style="cursor: pointer; height: 5vh;" /></button>
            </div>
          </div>
        </div>
        <div id="panelComentario" class="panel-comentario">
          <div class="info-container3">
            <textarea id="comentarioActual" name="comentarioActual" class="form-control" rows="10" cols="40" style="width: 25vw; min-height: 4vh; max-height: 14vh; border-radius: 10px;" placeholder="  Comentarios" maxlength="1000"></textarea>
          </div>
        </div>
        <div style="display: flex;">
          <button id="BotonEliminacionNomina">Eliminar Nominación</button>
          <button id="BotonFinalizarMotonave">Finalizar Motonave</button>
        </div>
        <div id="dragbar"></div>
      </div>
    </div>

    <!-- Div transparente que cubre el área fuera del panel lateral -->
    <div id="panelOverlay" class="panel-overlay"></div>
  </div>
{% endblock %}

{% block module_scripts %}
  <!-- Retroceder -->
  <script>
    function goBack() {
      window.location.href = "{% url 'erp:menu' %}"
    }
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var inputNombreMotonave = document.getElementById('editarNombreMotonave')
      inputNombreMotonave.addEventListener('input', function (event) {
        event.target.value = event.target.value.toUpperCase()
      })
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  {% if open_modal %}
    <script>
      $(document).ready(function () {
        // Abrir el modal
        $('#modalGestionarServicios').modal('show')
      
        // Obtener el nombre de la motonave desde el contexto
        var nombreMotonave = '{{ nombre_motonave }}'
      
        // Cargar los servicios de la motonave
        abrirModalGestionServicios(nombreMotonave)
      })
    </script>
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Scripts específicos de la página de menú -->
  <script src="{% static 'js/GestorOperaciones/validaciones.js' %}"></script>
  <script src="{% static 'js/GestorOperaciones/motonaves.js' %}"></script>
  <script src="{% static 'js/GestorOperaciones/servicios.js' %}"></script>
  <script src="{% static 'js/GestorOperaciones/panelLateral.js' %}"></script>
  <script src="{% static 'js/GestorOperaciones/utils.js' %}"></script>
  <script src="{% static 'js/GestorOperaciones/gestionarServicios.js' %}"></script>
  <script>
    var obtenerDetallesMotonaveURL = "{% url 'erp:obtener_detalles_motonave' %}"
    var nuevoComentarioMotonaveURL = "{% url 'erp:guardar_comentarios' %}"
    var obtenerTablaMotonavesURL = "{% url 'erp:obtener_tabla_motonaves' %}"
    var crearServicioURL = "{% url 'erp:crear_servicio' %}"
    var rendFormularioURL = "{% url 'erp:renderizar_formulario' %}"
    var eliminarServicioURL = "{% url 'erp:eliminar_servicio' %}"
    var eliminarMotonaveURL = "{% url 'erp:eliminar_motonave' %}"
    var crearServicioIndividualURL = "{% url 'erp:crear_servicio_individual' %}"
    var eliminarServicioIndividualURL = "{% url 'erp:eliminar_servicio_individual' %}"
    var modificarMotonaveURL = "{% url 'erp:modificar_motonave' %}"
    var obtenerServicioMotonaveURL = "{% url 'erp:obtener_servicios_motonave' %}"
    var fichaServicioURL = "{% url 'erp:ficha_servicio' servicio_id=0 %}".slice(0, -2)
    var finalizarServicioURL = "{% url 'erp:finalizar_servicio' %}"
    var actualizarFechaInicioFaenaURL = "{% url 'erp:actualizar_fecha_inicio_faena' %}"
    
    document.addEventListener('DOMContentLoaded', function () {
      // Llamar a la función para actualizar el tablero de motonaves cuando el DOM esté completamente cargado
      actualizarTableroMotonaves()
    })
  </script>
  <script>
    var staticUrls = {
      nominacion: "{% static 'images/Docs.png' %}",
      agregar: "{% static 'images/Agregar.png' %}",
      editar: "{% static 'images/Editar.png' %}",
      eliminar: "{% static 'images/Basurero.png' %}",
      visualizar: "{% static 'images/Ojo.png' %}",
      check: "{% static 'images/BotonCheck.png' %}"
    }
  </script>
{% endblock %}
