{% extends 'html/base.html' %}

{% block title %}
  Inventario
{% endblock %}

{% block module_styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesGestorInventario.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}" />
{% endblock %}

{% block content %}
  <div id="contenidoPrincipal" class="contenido-principal">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center" style="margin-left: 1vw;margin-top: 0px;padding-top: 25px;">
        <button type="button" onclick="goBack()" style="border: none; background: none;"><img src="{% static 'images/Volver.png' %}" alt="Volver" width="50" height="40" style="margin-right: 2vw; cursor: pointer;margin-left: 2.5vh;" /></button>
        <img src="{% static 'images/LogoInventario.png' %}" alt="Inventario" class="mb-2" width="4%" style="margin-right: 1vw;" />
        <span style="color: white; font-size: 1.2em;">Inventario</span>
        <input class="buscador rounded-pill" type="text" id="Buscar" placeholder="Buscar" oninput="filtrarInventario()" style="margin-top: 0px;" />
      </div>
    </div>

    <div class="col-md-12 d-flex" style="margin-left: 1vw;" id="contenedorTablas">
      <div class="allmenu">
        <!-- Menu Inventario -->
        <div class="menu">
          <ul class="menuVert" style="padding-left: 100px;">
            <li>
              <img src="{% static 'images/IconoQuimico.png' %}" alt="Químico" class="mb-2" width="8%" />
              <span class="btn btn-primary btn-menu" data-tab="tablaQuimico">Químicos</span>
            </li>
            <li>
              <img src="{% static 'images/IconoAuto.png' %}" alt="Vehículos" class="mb-2" width="15%" style="margin-left: -5px;" />
              <span class="btn btn-primary btn-menu" data-tab="tablaVehiculo">Vehículos</span>
            </li>
            <li>
              <img src="{% static 'images/IconoHerramientas.png' %}" alt="Varios" class="mb-2" width="10%" />
              <span class="btn btn-primary btn-menu" data-tab="tablaVarios">Equipos</span>
            </li>
          </ul>
        </div>

        <!-- Boton Agregar -->
        <div class="dropdown" style="margin-left: 140px; top: 40px;">
          <button class="btn btn-primary btn-agregar dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Agregar</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalAgregarQuimico">Químico</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalAgregarVehiculo">Vehículo</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalAgregarVario">Equipo</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Tablas -->
      <div class="tablaContenido" id="contenidoTablas" style="margin-top: 25px;">
        <!-- Tabla de Químicos -->
        <table class="table" id="tablaQuimico">
          <thead>
            <tr>
              <th>ID</th>
              <th style="text-align: center;">Tipo de Químico</th>
              <th>Fecha de Ingreso</th>
              <th>Número de Factura</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for quimico in quimico_list %}
              <tr>
                <td>{{ quimico.id }}</td>
                <td>{{ quimico.tipo_quimico }}</td>
                <td>{{ quimico.fecha_ingreso }}</td>
                <td>{{ quimico.numero_factura }}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDetalleQuimico{{ quimico.id }}" onclick="abrirModalQuimico({{ quimico.id }})"><img src="{% static 'images/Ojo.png' %}" alt="Ver Detalle" style="width: 40px; height: 40px;" /></button>
                    <form id="formEliminarQuimico{{ quimico.id }}" method="POST" action="{% url 'erp:eliminar_quimico' quimico.id %}">
                      {% csrf_token %}
                      <button type="button" class="btn btn-danger" onclick="eliminarQuimico('{{ quimico.id }}')"><img src="{% static 'images/Basurero.png' %}" alt="Eliminar" style="width: 40px; height: 40px;" /></button>
                    </form>
                  </div>
                </td>
              </tr>
              <!-- Modal para ver detalles del Quimico -->
              <div class="modal fade" id="modalDetalleQuimico{{ quimico.id }}" tabindex="-1" aria-labelledby="modalDetalleQuimicoLabel{{ quimico.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title with-icon" id="modalDetalleQuimicoLabel{{ quimico.id }}">Detalles del Químico</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBodyQuimico{{ quimico.id }}">
                      <!-- Contenido dinámico cargado por JavaScript -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="btnCambiarModoQuimico{{ quimico.id }}" class="modo-visualizacion" style="border: none; background: none;" title="Cambiar Modo"><img src="{% static 'images/Cambiar.png' %}" alt="Cambiar Modo" width="40" height="40" style="cursor: pointer;" /></button>
                      <button type="button" id="btnGuardarQuimico{{ quimico.id }}" class="btn btn-primary btn-img" style="display: none;"><img src="{% static 'images/IconoGuardar.png' %}" alt="Guardar" width="40" height="40" style="cursor: pointer;" /></button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </tbody>
        </table>

        <!-- Tabla de Vehículos -->
        <table class="table" id="tablaVehiculo">
          <thead>
            <tr>
              <th>Tipo de Vehículo</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Patente</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for vehiculo in vehiculo_list %}
              <tr>
                <td>{{ vehiculo.tipo_vehiculo }}</td>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.patente }}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" style="border: none; background: none;" class="btn btn-personalizado" onclick="abrirDetalleVehiculo('{{ vehiculo.id }}')" title="Ver detalles"><img src="{% static 'images/Ojo.png' %}" alt="Detalles" width="40" height="40" style="cursor: pointer;" /></button>
                    <form id="formEliminarVehiculo{{ vehiculo.id }}" method="POST" action="{% url 'erp:eliminar_vehiculo' vehiculo.id %}">
                      {% csrf_token %}
                      <!-- Otros campos del formulario si los tienes -->
                      <button type="button" class="btn btn-danger" onclick="eliminarVehiculo('{{ vehiculo.id }}')"><img src="{% static 'images/Basurero.png' %}" alt="Eliminar" style="width: 40px; height: 40px;" /></button>
                    </form>
                  </div>
                </td>
              </tr>
              <!-- Modal Detalle Vehículo -->
              <div class="modal fade" id="modalDetalleVehiculo" tabindex="-1" aria-labelledby="modalDetalleVehiculoLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <img src="{% static 'images/IconoAuto.png' %}" alt="Logo" width="45" height="25" style="margin-right: 10px;" />
                      <h5 class="modal-title" id="modalDetalleVehiculoLabel">Detalles del Vehículo</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Aquí se cargarán los detalles del vehículo con JavaScript -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="btnCambiarModoAuto" class="modo-visualizacion" style="border: none; background: none;" title="Cambiar Modo"><img src="{% static 'images/Cambiar.png' %}" alt="Cambiar Modo" width="40" height="40" style="cursor: pointer;" /></button>
                      <button id="btnGuardarAuto" type="button" class="btn btn-primary btn-img" style="display: none;"><img src="{% static 'images/IconoGuardar.png' %}" alt="Guardar" width="40" height="40" style="cursor: pointer;" /></button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </tbody>
        </table>

        <!-- Tabla de Varios -->
        <table class="table" id="tablaVarios">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Fecha de Ingreso</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for vario in vario_list %}
              <tr>
                <td>{{ vario.id }}</td>
                <td>{{ vario.nombre }}</td>
                <td>{{ vario.fecha_ingreso }}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDetalleVario{{ vario.id }}" onclick="abrirModalVario({{ vario.id }})"><img src="{% static 'images/Ojo.png' %}" alt="Ver Detalle" style="width: 40px; height: 40px;" /></button>
                    <form id="formEliminarVario{{ vario.id }}" method="POST" action="{% url 'erp:eliminar_vario' vario.id %}">
                      {% csrf_token %}
                      <button type="button" class="btn btn-danger" onclick="eliminarVario('{{ vario.id }}')"><img src="{% static 'images/Basurero.png' %}" alt="Eliminar" style="width: 40px; height: 40px;" /></button>
                    </form>
                  </div>
                </td>
              </tr>
              <!-- Modal para ver detalles del vario -->
              <div class="modal fade" id="modalDetalleVario{{ vario.id }}" tabindex="-1" aria-labelledby="modalDetalleVarioLabel{{ vario.id }}" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalDetalleVarioLabel{{ vario.id }}">Detalles del Equipo</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modalBodyVario{{ vario.id }}">
                      <!-- Contenido dinámico cargado por JavaScript -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="btnCambiarModoVario{{ vario.id }}" class="modo-visualizacion" style="border: none; background: none;" title="Cambiar Modo"><img src="{% static 'images/Cambiar.png' %}" alt="Cambiar Modo" width="40" height="40" style="cursor: pointer;" /></button>
                      <button type="button" id="btnGuardarVario{{ vario.id }}" class="btn btn-primary btn-img" style="display: none;"><img src="{% static 'images/IconoGuardar.png' %}" alt="Guardar" width="40" height="40" style="cursor: pointer;" /></button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal Agregar Quimico -->
  <div class="modal fade" id="modalAgregarQuimico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Químico</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formAgregarQuimico" method="post" action="{% url 'erp:agregar_quimico' %}" onsubmit="return validarFormularioAgregarQuimico()">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="inputdatosGenerales" id="inputdatosGenerales">
                  <div class="inputHeaderDatosGeneralesQuimico Titulo-subRayado" id="inputHeaderDatosGenerales">
                    <p style="font-size: 2.5vh; margin-left: 2vw;">Datos</p>
                  </div>
                  <div class="inputBodyDatosGenerales" id="inputBodyDatosGenerales">
                    <div class="inputTextoDatosGenerales" id="inputTextoDatosGenerales" style="margin-left: 2vw;">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="tipoQuimico" class="form-label">Tipo de Químico:</label>
                            <select type="text" class="form-control" name="tipoQuimico" id="tipoQuimico" required>
                              <option value="Bidones OCN 01">Bidones OCN 01</option>
                              <option value="Bidones OCN 08">Bidones OCN 08</option>
                              <option value="Bidones Acido Clorhídrico">Bidones Acido Clorhídrico</option>
                              <option value="Bidones Hipoclorito">Bidones Hipoclorito</option>
                              <option value="Bidones Hold Coat">Bidones Hold Coat</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3" style="margin-left: 5vw;">
                            <label for="fechaIngreso" class="form-label">Fecha Ingreso:</label>
                            <input type="date" class="form-control" name="fechaIngreso" id="fechaIngreso" style="width: 10vw;" required />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="litrosIngreso" class="form-label">Litros de Ingreso:</label>
                            <input type="number" class="form-control" name="litrosIngreso" id="litrosIngreso" placeholder="1" required />
                          </div>
                        </div>
                        <div class="col-md-4" style="margin-left: 5vw;">
                          <div class="mb-3">
                            <label for="numFactura" class="form-label">Número de Factura:</label>
                            <input type="number" class="form-control" name="numFactura" id="numFactura" placeholder="10000" required />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-custom-color">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Agregar Vehiculo -->
  <div class="modal fade modalAgregarVehiculo" id="modalAgregarVehiculo" tabindex="-1" aria-labelledby="modalAgregarVehiculoLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregarVehiculoLabel">Agregar Vehículo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formAgregarVehiculo" method="post" action="{% url 'erp:agregar_vehiculo' %}" onsubmit="return validarFormularioAgregarVehiculo()">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="inputdatosGenerales" id="inputdatosGenerales">
                  <div class="inputHeaderDatosGenerales Titulo-subRayado" id="inputHeaderDatosGenerales">
                    <p style="font-size: 2.5vh; margin-left: 2vw;">Datos Generales</p>
                  </div>
                  <div class="inputBodyDatosGenerales" id="inputBodyDatosGenerales">
                    <div class="inputTextoDatosGenerales" id="inputTextoDatosGenerales" style="margin-left: 1vw;">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="marca" class="form-label">Marca:</label>
                            <input type="text" class="form-control" name="marca" id="marca" placeholder="Rolls-Royce" required />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="modelo" class="form-label">Modelo:</label>
                            <input type="text" class="form-control" name="modelo" id="modelo" placeholder="Phantom" required />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="color" class="form-label">Color:</label>
                            <input type="text" class="form-control" name="color" id="color" placeholder="Gris" style="width: fit-content;" required />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="numero_motor" class="form-label">Número de Motor:</label>
                            <input type="text" class="form-control" name="numero_motor" id="numero_motor" required />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="numero_chasis" class="form-label">Número de Chasis:</label>
                            <input type="text" class="form-control" name="numero_chasis" id="numero_chasis" required />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="cilindrada" class="form-label">Cilindrada:</label>
                            <input type="text" class="form-control" name="cilindrada" id="cilindrada" style="width: fit-content;" required />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="tipo_vehiculo" class="form-label">Tipo de Vehículo:</label>
                            <input type="text" class="form-control" name="tipo_vehiculo" id="tipo_vehiculo" required />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="tipo_combustible" class="form-label">Tipo de Combustible:</label>
                            <select class="form-select" name="tipo_combustible" id="tipo_combustible" style="width: 15vw;" required>
                              <option value="93">93</option>
                              <option value="95">95</option>
                              <option value="97">97</option>
                              <option value="diésel">Diesel</option>
                              <option value="electrico">Electrico</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- Aqui se pueden agregar mas inputs -->
                    </div>
                  </div>
                </div>

                <div class="inputHistorialDocumentacion" id="inputHistorialDocumentacion">
                  <div class="headerhistorialDocumentacion Titulo-subRayado" id="headerhistorialDocumentacion">
                    <p style="font-size: 2.5vh; margin-left: 2vw;">Historial Y Documentacion</p>
                  </div>
                  <div class="bodyhistorialDocumentacion" id="bodyhistorialDocumentacion">
                    <div class="textohistorialDocumentacion" id="textohistorialDocumentacion" style="margin-left: 3vw;">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="primer_ingreso" class="form-label">Primer Ingreso:</label>
                            <input type="date" class="form-control" name="primer_ingreso" id="primer_ingreso" required />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="patente" class="form-label">Patente:</label>
                            <input type="text" class="form-control" name="patente" id="patente" required />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="fecha_permiso_circulacion" class="form-label">Fecha de Permiso de Circulación:</label>
                            <input type="date" class="form-control" name="fecha_permiso_circulacion" id="fecha_permiso_circulacion" required />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="fecha_soap" class="form-label">Fecha de SOAP:</label>
                            <input type="date" class="form-control" name="fecha_soap" id="fecha_soap" required />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="fecha_revision_tecnica" class="form-label">Fecha de Revisión Técnica:</label>
                            <input type="date" class="form-control" name="fecha_revision_tecnica" id="fecha_revision_tecnica" required />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="seguro_nombre" class="form-label">Nombre del Seguro:</label>
                            <input type="text" class="form-control" name="seguro_nombre" id="seguro_nombre" required />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label for="seguro_poliza" class="form-label">Número de Póliza:</label>
                            <input type="number" class="form-control" name="seguro_poliza" id="seguro_poliza" placeholder="00000000" style="width: fit-content;" required />
                          </div>
                        </div>
                      </div>
                      <!-- Aqui se pueden agregar mas inputs -->
                    </div>
                  </div>
                  <!-- Aqui se pueden agregar mas inputs -->
                </div>
                <!-- Aqui se pueden agregar otra seccion -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-custom-color">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Agregar Vario -->
  <div class="modal fade" id="modalAgregarVario" tabindex="-1" aria-labelledby="modalAgregarVarioLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregarVarioLabel">Agregar Equipo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formAgregarVarios" method="post" action="{% url 'erp:agregar_vario' %}" onsubmit="return validarFormularioAgregarVarios()">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="inputdatosGenerales" id="inputdatosGenerales">
                  <div class="inputHeaderDatosGeneralesVario Titulo-subRayado" id="inputHeaderDatosGenerales">
                    <p style="font-size: 2.5vh; margin-left: 2vw;">Datos</p>
                  </div>
                  <div class="inputBodyDatosGenerales" id="inputBodyDatosGenerales">
                    <div class="inputTextoDatosGenerales" id="inputTextoDatosGenerales" style="margin-left: 3vw;">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" style="width: 18vw;" required />
                          </div>

                          <div class="mb-3">
                            <label for="fecha_ingreso" class="form-label">Fecha de Ingreso:</label>
                            <input type="date" class="form-control" name="fecha_ingreso" id="fecha_ingreso" style="width: 20vw;" required />
                          </div>
                          <!-- Aqui se pueden agregar mas inputs -->
                        </div>
                        <!-- Aqui se pueden agregar mas inputs -->
                      </div>
                    </div>
                  </div>
                  <!-- Aqui se pueden agregar otra seccion -->
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-custom-color">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block module_scripts %}
  <!-- Retroceder -->
  <script>
    function goBack() {
      window.location.href = "{% url 'erp:menu' %}"
    }
  </script>
  <script>
    var obtenerDetallesVehiculoURL = "{% url 'erp:obtener_detalle_vehiculo' %}"
    var guardarCambiosVehiculoURL = "{% url 'erp:guardar_cambios_vehiculo' %}"
    var validarCampoUnicoVehiculoURL = "{% url 'erp:validar_campo_unicoVehiculo' %}"
    var validarCampoUnicoVehiculoCambioURL = "{% url 'erp:validar_campo_unico_vehiculoCambio' %}"
  </script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Scripts específicos de la página de Inventario -->
  <script src="{% static 'js/GestorInventario/validaciones.js' %}"></script>
  <script src="{% static 'js/GestorInventario/quimicos.js' %}"></script>
  <script src="{% static 'js/GestorInventario/vehiculos.js' %}"></script>
  <script src="{% static 'js/GestorInventario/varios.js' %}"></script>
  <script src="{% static 'js/GestorInventario/modales.js' %}"></script>
  <script src="{% static 'js/GestorInventario/utils.js' %}"></script>
  <script src="{% static 'js/GestorInventario/main.js' %}"></script>
  <script src="{% static 'js/GestorInventario/buscadores.js' %}"></script>
{% endblock %}
