{% extends 'html/base.html' %}

{% block title %}
  Gestor de Operaciones
{% endblock %}

{% block module_styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesGestorOperaciones.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}" />
{% endblock %}

{% block content %}
  <div class="container-fluid" style="margin-top: 20px; padding: 0; font-family: 'mifuente';">
    <div class="row">
      <div class="col-md-3" style="width: 100%;">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px;">
          <!-- Logo y texto "Operaciones" -->
          <div style="display: flex; align-items: center;">
            <button type="button" onclick="goBack()" class="btn btn-secondary">Volver</button>
            <img src="{% static 'images/Operaciones.png' %}" style="margin-left: 20px;" alt="Texto alternativo de la imagen" class="mb-2" width="10%" />
            <span style="color: white; margin-left: 5px;">Operaciones</span>
          </div>
          <div style="display: flex; align-items: center;">
            <button type="button" class="btn btn-custom-color">Historial de Servicios</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Sección "Crear Ficha" -->
    <div class="row mt-4">
      <div class="col-md-3" style="width: 100%;">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px;">
          <!-- Botón "Crear Motonave" -->
          <div class="dropdown">
            <button class="btn btn-primary btn-agregar dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Crear Ficha De</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalAgregarMotonave">Nueva Motonave</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#motonaveExistenteModal">Motonave Existente</a>
              </li>
            </ul>
          </div>
          <!-- Cuadro Azul -->
          <div class="cuadro-azul">
            <table id="tablaMotonaves" class="table">
              <thead>
                <tr>
                  <th>Nominado</th>
                  <th>En Proceso</th>
                  <th>Terminado</th>
                </tr>
              </thead>
              <tbody>
                {% for motonave in motonaves %}
                  {% if motonave.estado_servicio == 'Nominado' or motonave.estado_servicio == 'En Proceso' or motonave.estado_servicio == 'Terminado' %}
                    <tr>
                      <td>
                        {% if motonave.estado_servicio == 'Nominado' %}
                          {{ motonave.nombre }}
                        {% endif %}
                      </td>
                      <td>
                        {% if motonave.estado_servicio == 'En Proceso' %}
                          {{ motonave.nombre }}
                        {% endif %}
                      </td>
                      <td>
                        {% if motonave.estado_servicio == 'Terminado' %}
                          {{ motonave.nombre }}
                        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Agregar Motonave -->
  <div class="modal fade" id="modalAgregarMotonave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva Motonave</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formAgregarMotonave" method="post" action="{% url 'erp:crear_motonave' %}">
          {% csrf_token %}
          <div class="modal-body">
            <input type="text" class="form-control" name="nombreMotonave" id="nombreMotonave" placeholder="Nombre de la motonave" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="submitForm()">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Motonave Existente -->
  <div class="modal fade" id="motonaveExistenteModal" tabindex="-1" aria-labelledby="motonaveExistenteModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0); backdrop-filter: blur(5px);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="motonaveExistenteModalLabel">Lista de Motonaves</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            {% for motonave in motonaves %}
              <li>
                <a class="dropdown-item" style="color: #fff;" href="#" onclick="seleccionarMotonave('{{ motonave.nombre }}')">{{ motonave.nombre }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Panel lateral -->
  <div id="panelLateral" class="panel-lateral">
    <div id="detallesMotonave" class="detalles-motonave">
      <!-- Aquí se mostrarán los detalles de la motonave seleccionada -->
    </div>
  </div>

  <!-- Div transparente que cubre el área fuera del panel lateral -->
  <div id="panelOverlay" class="panel-overlay"></div>
{% endblock %}

{% block module_scripts %}
  <!-- Retroceder -->
  <script>
    function goBack() {
      history.back()
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
  <!-- Scripts específicos de la página de menú -->
  <script src="{% static 'js/scriptGestorOperaciones.js' %}"></script>
  <script>
    var obtenerDetallesMotonaveURL = "{% url 'erp:obtener_detalles_motonave' %}"
    var nuevoEstadoMotonaveURL = "{% url 'erp:guardar_nuevo_estado' %}"
    var obtenerTablaMotonavesURL = "{% url 'erp:obtener_tabla_motonaves' %}"
  </script>
{% endblock %}
