{% extends 'html/base.html' %}

{% block title %}
  Historial de Servicios
{% endblock %}

{% block module_styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHistorialServicio.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}" />
{% endblock %}

{% block content %}
  <div id="contenidoPrincipal" class="contenido-principal">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center">
        <!-- Botón Volver -->
        <button type="button" onclick="goBack()" class="btn-volver"><img src="{% static 'images/Volver.png' %}" alt="Volver" width="50" height="40" style="margin-left: 2.5vh;" /></button>
        <!-- Logo y texto "Documentos" -->
        <img src="{% static 'images/HistorialServicios.png' %}" alt="Historial" class="historial-img" width="50" height="40" />
        <span class="text-historial">Historial de Servicios</span>
        <!-- Buscador -->
        <input class="buscador rounded-pill" type="text" id="Buscar" placeholder="Buscar" oninput="buscarHistorial()" />
      </div>

      <div class="col-md-12 d-flex" style="margin-left: 5vw; margin-top: 3vh;">
        <div class="contenedor-principal">
          <div class="tablaContenido" id="contenidoTablas">
            <table class="table" id="tabla-historial">
              <thead>
                <tr>
                  <th>Número de Servicio</th>
                  <th>Tipo de Servicio</th>
                  <th>Motonave</th>
                  <th>Fecha de Fin</th>
                </tr>
              </thead>
              <tbody>
                {% for servicio in historial_servicios %}
                  <tr>
                    <td>{{ servicio.numero_servicio }}</td>
                    <td>{{ servicio.tipo_servicio }}</td>
                    <td>{{ servicio.motonave.nombre }}</td>
                    <td>{{ servicio.fecha_fin }}</td>
                    <td>{{ servicio.estado }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block module_scripts %}
  <!-- Retroceder -->
  <script>
    function goBack() {
      history.back()
    }
  </script>

  <script src="{% static 'js/GestorOperaciones/historialServicio.js' %}"></script>
{% endblock %}
