{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Sesión</title>
    <link rel="stylesheet" href="{% static 'css/stylesLogin.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/logopng.png' %}" />
  </head>
  <body>
    <!-- Video de fondo -->
    <div class="video-background">
      <video autoplay muted loop id="background-video">
        <source src="{% static 'images/final.mp4' %}" type="video/mp4" />Your browser does not support the video tag.
      </video>
    </div>

    <!-- Botón de Volver -->
    <a href="#" onclick="goBack()" class="back-button"><img src="{% static 'images/Volver.png' %}" alt="Volver" style="width: 50px; height: auto;" /></a>

    <!-- Contenedor principal del formulario de inicio de sesión -->
    <div class="login-wrapper card">
      <div class="logo-container">
        <img src="{% static 'images/logopng.png' %}" class="logo" alt="Logo" style="width: 180px; height: auto;" />
      </div>
      <form id="login-form" class="form login-form" method="post" action="{% url 'erp:login' %}">
        <!-- Contenedor del logo -->

        {% csrf_token %}
        <!-- Título del formulario -->
        <h1 class="card-title">Inicio de Sesión</h1>

        <!-- Campo de correo electrónico -->
        <div class="input-group">
          <input type="text" name="email" id="loginUser" required placeholder="E-mail" />
          <label for="loginUser">E-mail</label>
        </div>

        <!-- Campo de contraseña -->
        <div class="input-group">
          <input type="password" name="password" id="loginpassword" requiered placeholder="Contraseña" />
          <label for="loginpassword">Contraseña</label>
        </div>

        {% if messages %}
          <div class="alert alert-warning">
            <button type="button" class="close" onclick="closeAlert()"><img src="{% static 'images/Xerror.png' %}" alt="Cerrar" style="margin-right: 8px;" /></button>
            <span id="spn_texto" class="errorText">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </span>
          </div>
        {% endif %}

        <!-- Botón de enviar formulario -->
        <button type="submit" class="submit-button">ACCEDER</button>

        <!-- Enlace para recuperación de contraseña -->
        <div class="forgot">
          <a href="{% url 'erp:password_reset_request' %}" class="forgot">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>

    <!-- Script para retroceder en la navegación -->
    <script>
      function goBack() {
        history.back()
      }
    </script>
    <!-- Script externo para funcionalidades adicionales del formulario -->
    <script src="{% static 'js/scriptLogin.js' %}"></script>
  </body>
</html>
