{% extends 'html/base.html' %}

{% block title %}
  Menu
{% endblock %}

{% block module_styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesMenu.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}" />
{% endblock %}

{% block content %}
  <div class="container">
    <a href="{% url 'erp:gestor-operaciones' %}" class="cuadrado Operaciones">
      <img src="{% static 'images/Operaciones.png' %}" alt="Descripción de la imagen original" />
      <img class="hover-img" src="{% static 'images/OperacionesBlue.png' %}" alt="Descripción de la imagen al hacer hover" />
      <span>Operaciones</span>
    </a>
    <a href="{% url 'erp:gestor-personal' %}" class="cuadro Personal">
      <img src="{% static 'images/LogoRRHH.png' %}" alt="Descripción de la imagen original" />
      <img class="hover-img" src="{% static 'images/LogoRRHHBlue.png' %}" alt="Descripción de la imagen al hacer hover" />
      <span>Personal</span>
    </a>
    <a href="{% url 'erp:gestor-inventario' %}" class="cuadro Inventario">
      <img src="{% static 'images/LogoInventario.png' %}" alt="Descripción de la imagen original" />
      <img class="hover-img" src="{% static 'images/LogoInventarioBlue.png' %}" alt="Descripción de la imagen al hacer hover" />
      <span>Inventario</span>
    </a>
    <a href="{% url 'erp:gestor-documentos' %}" class="cuadro Documentos">
      <img src="{% static 'images/LogoDoc.png' %}" alt="Descripción de la imagen original" />
      <img class="hover-img" src="{% static 'images/LogoDocBlue.png' %}" alt="Descripción de la imagen al hacer hover" />
      <span>Documentos</span>
    </a>
  </div>
{% endblock %}

{% block module_scripts %}
  <!-- Scripts específicos de la página de menú -->
  <script src="{% static 'js/scriptMenu.js' %}"></script>
{% endblock %}
