{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Recuperación de contraseña</title>
    <link rel="stylesheet" href="{% static 'css/stylesPasswordReset.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/logopng.png' %}" />
  </head>
  <body>
    <!-- Video de fondo -->
    <div class="video-background">
      <video autoplay muted loop id="background-video">
        <source src="{% static 'images/final.mp4' %}" type="video/mp4" />Your browser does not support the video tag.
      </video>
    </div>
    <div class="password-reset-wrapper">
      <div class="logo-container">
        <img src="{% static 'images/logopng.png' %}" class="logo" alt="Logo" style="width: 180px; height: auto; top:66px" />
      </div>
      <form id="password-reset-form" class="form" method="post">
        {% csrf_token %}
        <div style="margin-top: 30px;">
          <h2 class="card-title">Restablecer Contraseña</h2>
          <label for="loginpassword">Nueva Contraseña</label>
          <div class="input-group">
            <input type="password" name="password" id="loginpassword" required style="width: 340px;" />
          </div>
        </div>

        {% if messages %}
          <div class="alert alert-warning">
            <button type="button" class="close" onclick="closeAlert()"><i class="zmdi zmdi-close"></i></button>
            <span id="spn_texto">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </span>
          </div>
        {% endif %}

        <button type="submit" class="submit-button" style="margin-left: 0px;">Restablecer</button>
      </form>
    </div>

    <!-- Retroceder -->
    <script>
      function goBack() {
        history.back()
      }
    </script>
  </body>
</html>
